<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kiskis</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="red lighten-4">

    {{!-- Nav Bar --}}
    <nav class="z-depth-0 red lighten-4">
        <div class="nav-wrapper red lighten-4">
          <a href="/" class="brand-logo caveat-bold grey-text text-darken-3"> &nbsp kiskis</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down caveat grey-text text-darken-3">
            <li><a class="btn-flat caveat grey-text text-darken-3" href="./newSecret" id="newSecret-button">new secret</a></li>
            <li><a class="btn-flat caveat grey-text text-darken-3"  href="#" id="loginHistory-button">login history</a></li>
            <li><a class="btn-flat caveat grey-text text-darken-3"  href="#" id="logout-button">logout</a></li>
          </ul>
        </div>
    </nav>
          <ul class="brand-logo center hide-on-large-only show-on-medium-and-down caveat grey-text text-darken-3">
            <li><a class="caveat grey-text text-darken-3" href="./newSecret" id="newSecret-button">new secret</a></li>
            <li><a class="caveat grey-text text-darken-3"  href="#" id="loginHistory-button">login history</a></li>
            <li><a class="caveat grey-text text-darken-3"  href="#" id="logout-button">logout</a></li>
          </ul>
    
    {{!-- Body --}}
    <div class="container" id="main-content">
        {{{body}}}

    </div>
    {{else}}
    <ul id="nav-mobile" class="right hide-on-med-and-down caveat grey-text text-darken-3">
      <li><a href="/" class="right-align caveat-bold grey-text text-darken-3">Keep it Simple, Keep it Safe</a></li>

      {{/if}}
  </nav>
  {{!-- Body --}}
  <div class="container" id="main-content">
    {{{body}}}
  </div>

</body>

</html>