<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiskis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="red lighten-4">
    {{!-- Nav Bar --}}
    <nav class="z-depth-0 red lighten-4 pad-1">
        <div class="nav-wrapper red lighten-4">
          <a href="#" class="brand-logo caveat-bold grey-text text-darken-3">kiskis</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down caveat grey-text text-darken-3">
            <li><a class="btn-flat caveat grey-text text-darken-3" href="#" id="newSecret-button">new secret</a></li>
            <li><a class="btn-flat caveat grey-text text-darken-3"  href="#" id="loginHistory-button">login history</a></li>
            <li><a class="btn-flat caveat grey-text text-darken-3"  href="#" id="logout-button">logout</a></li>
          </ul>
        </div>
    </nav>
    {{!-- Body --}}
    <div class="container" id="main-content">
        {{{body}}}
    </div>

    {{!-- "Cloak" button --}}
    <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons"><Section></Section></i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
    </div>

<script src="/js/script.js"></script>

</body>

</html>