{{!-- <h2 class="caveat-bold grey-text text-darken-3">Login Here</h2> --}}

<div class="row red lighten-4">
        <div class="card">
            <div class="login-form">
                <form class="form signin-form">
                    <div class="input-group">
                        <label for="signin">Email:</label>
                        <input type="text" name="email" id="email-signin" />
                    </div>
                    <div class="form-group">
                        <label for="password-signin">Password:</label>
                        <input class="form-input" type="password" id="password-signin" />
                    </div>
                    <div class="card-action form-group">
                        <a href="./dashboard" class="btn waves-effect waves-light grey-darken-4" id="signIn-btn">Sign In</a>
                        <span>or</span>
                        <a href="./signup" class="btn waves-effect waves-light grey-darken-4" id="signUp-btn">SignUp</a>
                    </div>
                </form>
            </div>
        </div>
</div>

<script src="./js/signin.js"></script>