<h2>Login Here</h2>

<div class="row">
    <div class="col l6 m6 center">
        <div class='card'>
            <div class="login-form">
                <h5>Sign In</h5>
                <form action="/signup" method="POST">
                    <div class="input-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" />
                    </div>
                    <div class="input-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" />
                    </div>
                    <button class="btn waves-effect waves-light orange lighten-1" type="submit" name="action">Sign In</button> <br>
                     <p>Or </p>
                    {{!-- <button href="./signup" class="btn waves-effect waves-light orange lighten-1" type="submit" name="action">Sign Up</button> --}}
                    <a href="./signup" class="btn waves-effect waves-light orange lighten-">SignUp</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>