<h2>Login Here</h2>

<div class="row">
    <div class="col l6 m6 center">
        <div class='card'>
            <div class="login-form">
                <h5>Sign In</h5>
                <form class="form signin-form">
                    <div class="input-group">
                        <label for="signin">Email:</label>
                        <input type="text" name="email" id="email-signin"/>
                    </div>
                    <div class="form-group">
                        <label for="password-signin">Password:</label>
                        <input class="form-input" type="password" id="password-signin" />
                    </div>
                    <div class="form-group">
                    <button class="btn waves-effect waves-light orange lighten-1" type="submit" name="action">Sign In</button> <br>
                        <p>Or </p>
                        <a href="./signup" class="btn waves-effect waves-light orange lighten-">SignUp</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="./js/signin.js"></script>