<div class="row red lighten-4 center">
    <div class="col s6 offset-s3">
        <div class="card-panel">
            <div class="login-form">
                <form class="form signup-form">
                    <div class="form-group">
                        <label for="user-signup">User:</label>
                        <input class="form-input" type="text" id="user-signup" />
                    </div>
                    <div class="input-group">
                        <label for="signup">Email:</label>
                        <input type="text" name="email" id="email-signup" />
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group">
                        <button class="btn waves-effect waves-light purple lighten-1" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="/js/signup.js"></script>