:root {
    --pinkaccent: #ff80ab;
    --darkgrey: rgb(53, 53, 53);
}
/* * {
    border: 1px dashed red;
} */
body {
    height: 100vh;
    width: 100vw;
}
h3 {
    color: var(--darkgrey);
}
.pad-1 {
    padding-left: 2em;
    padding-top: 1em;
}

.caveat-bold {
    font-family: 'Caveat', cursive;
    font-weight: 700;
}
.caveat {
    font-family: 'Caveat', cursive;
}
#signUp-btn {
    background-color:  var(--pinkaccent);
}
#signIn-btn {
    background-color: var(--pinkaccent);
}
